<div class="row">
  <div class="large-12 columns">
    <h1>Analysis</h1>
  </div>
</div>

<div>
<!--Sort By: <input type="radio" ng-click="heatmapMax" name="sortGraphBy"> Gray
<input type="radio" ng-click="sortBarGraphData('container')" name="sortGraphBy"> Container -->
<div google-chart chart="chart" style="{{chart.cssStyle}}" class="stacksGraph"/>
</div>

<!-- <button id="clickMe">Change Max</button> -->
Team Number: <input type="textbox" size="5" maxlength="4" ng-model="teamNumberForHeatmap"> &nbsp; 
Resolution: <input type="radio" ng-model="heatmapMax" value="1" name="heatmapMax"> 1 
<input type="radio" ng-model="heatmapMax" value="2" name="heatmapMax"> 2 
<input type="radio" ng-model="heatmapMax" value="3" name="heatmapMax"> 3  
<input type="radio" ng-model="heatmapMax" value="4" name="heatmapMax"> 4  
<input type="radio" ng-model="heatmapMax" value="5" name="heatmapMax"> 5  

<br />

<img src="http://ci.stormbots.com/CITools2015/img/field.png">
<div class="heatmap" style="width:834px; height:377px; position:absolute; top: -377px; background:rgba(0,0,0,0);"></div>